*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #333;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #333, #000);/* Degradado del boddy de arriba para abajo de gris a negro*/
}
#navbar{
    background-color: #000000;
}
#logo img{
    border-radius: 10px;
    width: 200px;
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #b98f2c;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}
i{
    color: white; 
    font-size: 23px;
    outline: none; 
}
.navbar-toggler:active {
    border: 2px solid #885d1c;
}
.btn-user, 
.search-input {
    height: 38px;         
    padding: 0 18px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
/*modal inicio sesion*/
#iniciosesion .modal-content {
    background-color: rgba(0, 0, 0, 0.5) !important;  /* 0.8 = 80% opaco */
    backdrop-filter: blur(4px); /* Efecto glass */
}
.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
#iniciosesion .modal-header {
    border-bottom: none; /* Quita la línea del modal*/
    background-color: #222222;
}
input.usuario, input.password{
    width: 100%;    
    box-sizing: border-box;
    padding: 12px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0003;
    background-color: #333;
    border-radius: 4px;
    color: white;
}
.form_input{
    padding: 10px 20px;
}
.form-check-label{ 
    color: #666;
}
/* Checkbox base */
.custom-checkbox .custom-control-input {
    position: relative;
    width: 1.2em;
    height: 1.2em;    
    cursor: pointer;
    appearance: none;
    border: 2px solid #ccc;       /* borde gris */
    border-radius: 0.25rem;       /* ligeramente redondeado */
    background-color: transparent;       /* fondo blanco */
    vertical-align: middle;
    transition: background-color 0.2s, border-color 0.2s;
    margin: 20px;
}
/* Hover y focus */
.custom-checkbox .custom-control-input:hover,
.custom-checkbox .custom-control-input:focus {
    border-color: #666;
    box-shadow: 0px 0px 15px #0003;
    outline: none;
}
/* Checkbox marcado */
.custom-checkbox .custom-control-input:checked {
    background-color: #666;
}
/* Check (✓) animado dentro del checkbox */
.custom-checkbox .custom-control-input:checked::after {
    content: "";
    position: absolute;
    left: 0.35em;
    top: 0.05em;
    width: 0.25em;
    height: 0.6em;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}
.form_button{
    padding: 10px 20px;
}
.button{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 12px;
    border-radius: 4px;
}
.btn-iniciar{
    border: none !important;
    background:  #fcd62e !important;
    color: black !important;
}
.btn-iniciar:hover{
    background-color: #fef08a !important;
}
.btn-crear{
    background: transparent !important; 
    border: none;
    border: 1px solid #666;
}
.btn-crear:hover{
    background-color: #333 !important; 
}
.btn-transparente{
    background: transparent !important; 
    border: none !important;    
}
.btn-transparente:hover {
    background-color: #333 !important;
}

/**MODAL REGISTRATE**/
#registrar .modal-content {
    background-color: rgba(0, 0, 0, 0.5) !important;  /* 0.8 = 80% opaco */
    color: #fff;
    backdrop-filter: blur(4px); /* Efecto glass */
    border: none;
}
#registrar .modal-header {
    border-bottom: none; /* Quita la línea del modal*/
    background-color: #222222;
}

#registrar input{
    width: 100%;    
    box-sizing: border-box;
    padding: 12px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0003;
    background-color: #333;
    border-radius: 4px;
    color: white;
}
#registrar select{
    width: 120%;
    box-sizing: border-box;
    padding: 13px 10px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0003;
    background-color: #333;
    border-radius: 4px;
    color: white;
}
#registrar .btn-registrar{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 12px;
    border-radius: 4px;
    border: none;
    background:  #fcd62e;
    color: black;
}
.btn-registrar:hover{
    background-color: #fef08a !important;
}
#registrar .modal-body {
    background: linear-gradient(to bottom, #333, #000);/* Degradado de arriba para abajo de gris a negro*/
}
#registrar label{
    color: #666;
}
#registrar a{
    color: white;
}
